html,
body {
    height: 100%;
    font-size: 16px;
}
article {
    margin-left: 5%;
}
.result {
    display: flex;
}

.bg {
    background-color: #d9eee1;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    line-height: 2.5rem;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.button {
    background-color: #1d976c;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    border-radius: 16px;
}

/* entity types */
.entity {
    font-size: 1.1 rem;
    border-radius: 12px;
}
.SNP {
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f09819,
        #ff512f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f09819,
        #ff512f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.DNAMutation {
    background: #fc354c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #0abfbc,
        #fc354c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #0abfbc,
        #fc354c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ProteinMutation {
    background: #1d976c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #93f9b9,
        #1d976c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #93f9b9,
        #1d976c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* label */
.label {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1%;
}
